* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  font-family: 'Montserrat', sans-serif;
}

:root {
  --black-color: black;
  --white-color: white;
  --gray-color: rgb(104, 102, 102);
  --gray-color-active: rgba(73, 72, 72);
  --backdrop-color: rgba(0, 0, 0, 0.4);
}

body {
  display: -webkit-flex;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button, a {
  @media (pointer: coarse) {
    outline: none;
  }
}

img {
  display: block;

  object-fit: cover;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.content-limitter {
  width: 100%;

  @media (min-width: 2300px) and (min-height: 1400px) {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 17px 2px;
  }
}

.first-grid-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 65vh;
}

.introductory-content-wrapper {
  position: relative;
}

.page-main-header {
  display: -webkit-flex;
  display: flex;
  display: -ms-flexbox;
  align-items: center;

  padding: 3vw;
  width: 100%;

  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;

  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6), transparent);

  .go-to-home-link {
    transform: translateY(3px);
  }

  nav a {
    margin-left: 3.5vw;
    padding: 8px;

    position: relative;

    color: var(--white-color);
    font-size: 15px;
    text-decoration: none;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  nav a::after {
    content: '';

    display: block;
    height: 2px;
    width: 0px;

    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--white-color);

    transition: width 200ms ease-out;
  }

  a:active::after {
    width: 60%;
  }

  @media (hover: hover) {
    a:hover::after {
      width: 40%;
    }
  }
}

.hamburguer-button {
  display: none;
  background-color: transparent;
}

.hamburguer-menu-closer {
  display: none;
}

.carousel-container {
  height: 100%;

  img {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0px;
    left: 0px;

    opacity: 0;

    transition: opacity 200ms ease-out;
  }
}

.controls {
  position: absolute;
  bottom: 0px;
  right: 0px;

  button {
    padding: 16px 24px;

    background-color: var(--black-color);

    transition: background-color 150ms ease;
  }

  button:active {
    background-color: var(--gray-color-active);
  }

  button:first-child svg {
    transform: rotate(180deg);
  }

  @media (min-height: 700px) and (min-width: 881px) {
    transform: translateX(100%);
  }
}

main {
  justify-self: center;
  align-self: center;

  padding: 30px;
  max-width: 450px;

  section > section {
    display: none;
    
    opacity: 0;
  }

  h1, h2 {
    font-size: 35px;
  }

  p {
    margin: 4vh 0px;
    
    color: var(--gray-color);
    font-size: 15px;
  }
}

.shop-now-button {
  padding: 10px;

  color: var(--black-color);
  text-transform: uppercase;
  text-decoration: none;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  transition: color 150ms ease;

  svg {
    margin-left: 14px;
    
    fill: currentColor;

    transition: color 150ms ease;
  }

  &:active {
    color: var(--gray-color);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--gray-color);
    }
  }
}

.second-grid-container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 35vh;

  img {
    width: 100%;
    height: 100%;
  }
}

.about-section {
  justify-self: center;
  align-self: center;

  padding: 16px 22px;
  max-width: 450px;
  
  h2 {
    margin-bottom: 16px;

    font-size: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  p {
    color: var(--gray-color);
    font-size: 15px;
  }
}

.backdrop-area {
  display: none;
}


@media (pointer: coarse) {
  button, * {
    cursor: default;
  }
}

@media (min-width: 2300px) {  // Responsive for bigger screens (I guess...)
  .content-limitter {
    max-width: 2200px;
  }
}

@media (min-width: 2300px) and (min-height: 1400px) {
  .content-limitter {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 17px 2px;
  }
}

@media (min-width: 2030px) {
  main, .about-section {
    max-width: 600px;
  }
}

@media (min-height: 1400px) {
  .first-grid-container {
    grid-template-rows: 855px;
  }

  .second-grid-container {
    grid-template-rows: 455px;
  }
}

@media (max-height: 620px), (max-width: 1005px) {  // Responsive for smaller screens
  .content-limitter {
    padding-bottom: 20px;
    max-width: 600px;
  }
  
  .first-grid-container, .second-grid-container {
    display: block;
  }

  .page-main-header {
    padding: 24px 30px;
  }

  .carousel-container img { 
    width: 100%;
    height: auto;
  }

  .second-grid-container img {
    margin: 0px auto;
    max-width: 300px;
  }

  main, .about-section {
    max-width: none;
    padding: 40px 16px;
  }
}

@media (max-width: 550px) {
  .hamburguer-button {
    display: block;

    position: absolute;
    left: 24px;
  }

  .hamburguer-menu-closer {
    display: block;
  }

  .page-main-header {
    justify-content: center;
  }

  .page-main-header .go-to-home-link {
    transform: none;
  }

  .page-main-header > nav {
    display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;

    padding: 23px 20px;
    width: 100%;

    position: fixed;
    top: 0px;
    left: 0px;
    transform: translateY(-102%); 

    background-color: var(--white-color);

    transition: transform 150ms ease-out;

    a {
      margin: 0px;

      color: var(--black-color);
      font-size: 16px;
    }

    a::after {
      background-color: var(--black-color);
    }
  }

  main {
    h1, h2 {
      font-size: 30px;
    }

    p {
      margin: 26px 0px;
      font-size: 15px;
    }
  }

  .shop-now-button {
    font-size: 16px;
  }

  .about-section {
    h2 {
      font-size: 18px;
    }

    p {
      font-size: 15px;
    }
  }

  .backdrop-area {
    display: block;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background-color: var(--backdrop-color);

    opacity: 0;

    pointer-events: none;

    transition: opacity 150ms linear;
  }
}

@media (max-width: 380px) {
  .hamburguer-menu-closer {
    align-self: flex-start;
  }

  .page-main-header > nav {
    align-items: center;
    flex-direction: column;

    transition-duration: 200ms;

    div {
      max-width: 200px;
    }
    
    a {
      display: block;
      text-align: center;
    }

    a + a {
      margin-top: 6px;
    }
  }
}


@keyframes increase-text-opacity {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}


.show-hamburguer-menu--js.show-hamburguer-menu--js {
  transform: translateY(0%);
}

.show-image--js.show-image--js img {
  opacity: 1;
  position: static;
}

.show-text--js {
  display: block;

  animation: increase-text-opacity 350ms ease-out forwards;
}

.show-backdrop-area--js {
  opacity: 1;
  pointer-events: all;
}
