* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  font-family: 'Montserrat', sans-serif;
}

:root {
  --black-color: black;
  --white-color: white;
  --gray-color: rgb(90, 88, 88);
  --gray-color-active: rgba(73, 72, 72);
}

button {
  border: none;
  background-color: var(--white-color);
  cursor: pointer;
}

.first-grid-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 65vh;
}

.introductory-content-wrapper {
  position: relative;
}

.page-main-header {
  display: flex;
  align-items: center;

  padding: 30px;

  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;

  a {
    padding: 8px;

    position: relative;

    color: var(--white-color);
    font-size: 14px;
    text-decoration: none;
  }

  a::after {
    content: '';

    display: block;
    height: 2px;
    width: 0px;

    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--white-color);

    transition: width 150ms ease-out;
  }

  a:hover::after {
    width: 40%;
  }

  & > * + * {
    margin-left: 30px;
  }
}

.carousel-container {
  height: 100%;

  img {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0px;
    left: 0px;

    opacity: 0;

    object-fit: cover;

    transition: opacity 150ms ease;
  }
}

.discover-section {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;

  position: relative;

  h1 {
    font-size: 35px;
  }

  p {
    margin: 24px 0px;
    
    color: var(--gray-color);
    font-size: 12px;
  }

  & > div {
    max-width: 450px;
  }

  & > div > button {
    text-transform: uppercase;

    svg {
      margin-left: 14px;
    }
  }
}

.controls {
  display: flex;

  position: absolute;
  bottom: 0px;
  left: 0px;

  button {
    padding: 16px 24px;

    background-color: var(--black-color);

    transition: background-color 150ms ease;
  }

  button:active {
    background-color: var(--gray-color-active);
  }

  button:first-child svg {
    transform: rotate(180deg);
  }
}

.second-grid-container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 35vh;

  img {
    width: 100%;
    height: 100%;
  }
}

.about-section {
  justify-self: center;
  align-self: center;

  padding: 16px;
  max-width: 450px;
  
  h2 {
    margin-bottom: 10px;

    font-size: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  p {
    color: var(--gray-color);
    font-size: 12px;
  }
}


.show-image--js.show-image--js {
  opacity: 1;
}


@media (pointer: coarse) {
  button, * {
    cursor: default;
  }
}
